.homeContainer{
    /* border: 1px solid rgb(222, 21, 21); */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.homeHeader{
    /* border:  1px solid red; */
    width: 100%;
    height: 10%;
    background-color: #A03037;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    gap: 9rem;
}



.secondSection{
    /* border:  1px solid rgb(113, 19, 236); */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 170px;
    /* justify-content: center; */
    /* align-items: center; */
}

.secondSection-one{
    /* border: 1px solid red; */
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* left: 110px; */
}

.secondSection-two{
    /* border: 1px solid rgb(33, 222, 89); */
    width: 80%;
    height: 90%;
    /* position: relative;
    left: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.booksDisplay{
    /* border: 1px solid rgb(33, 222, 89); */
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.secondSection-text{
    font-weight: 700;
}

.cartImage{
    width: 20px;
    height: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
}

@media screen and (min-width:320px) and (max-width:480px){
    .homeContainer{
        width: 250vw;
        height: 130vh;
        margin: auto;
        margin-top: 400px;
    }

    .secondSection{
        width: 80%;
    }

    .secondSection-text{
        font-size: larger;
    }

    .drop1{
        height: 30px;
    }
}

@media screen and (min-width:481px) and (max-width:860px){
    .homeContainer{
        width: 150vw;
        height: 130vh;
        margin: auto;
        /* margin-top: 400px; */
    }

    .secondSection{
        width: 85%;
    }

    .booksDisplay{
        width: 85%;
    }

    .secondSection-one{
        width: 85%;
    }
}
